.photoCovert {
  position: relative;
  width: 100%;
  height: fit-content;
}

.photoCovert .firstImg {
  width: 100%;
  min-height: 200px;
  max-height: 450px;
  overflow: hidden;
  box-sizing: border-box;
}

.photoCovert .firstImg img {
  max-width: 100%;
  height: auto;
  display: block;
}
.userDetails{
  background-color: red;
  width: 100%;
}


.photoCovert div {

  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: -15px;
  margin-left: 10px;
}
.userDetails div{
  width: 100%;
}
.userDetails div div:first-of-type{
  width: fit-content;
  background-color: green;
}
.userDetails div .blocFlow{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: blue;
}

.photoCovert div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photoCovert div div img:last-of-type {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid white;
}

.photoCovert div div p {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.photoCovert div div p span:first-of-type {
  font-size: 18px;
  text-transform: capitalize;
}

.photoCovert div div p .profileTypes span{
  text-transform: lowercase;
}
.profileTypes i{
  margin-right: 5px;
}
.profileTypes span:last-of-type{
  color: gray;

}

.menu {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-top: 20px;
}


.menu span {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.menu span i {
  font-size: 20px;
  margin-right: 5px;
}

.body1 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.bio {
  height: fit-content;
  padding: 15px;
  border-radius: 10px;

  background: var(--secondary-bg);
}


@media screen and (min-width: 768px) {
  .photoCovert {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0px;
    background: var(--nav-bar-background-gradient);
  }

  .photoCovert .firstImg {
    width: 60%;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
  }


  .photoCovert div {
    width: 60%;
  }

  .body1 {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0% 20px 20%;
  }
  .bio,
  .notBio{
   width: 50%;
  }
  .body1 .bodymenu {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .photoCovert .firstImg,
  .photoCovert div {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .body1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bodymenu {
    order: 2;
  }

  .bio {
    order: 1;
  }
}

@media screen and (max-width: 425px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
  }
}

/* bloc friend */

.friendFololowingMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menus {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin: 20px 0px;
  margin-top: 0px;
}

.menus span {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.menus span i {
  font-size: 20px;
  margin-right: 5px;
}

.contentListFriend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 30px;
  margin: 0px 20px;
  border-radius: 20px;
  background: var(--secondary-bg);
}

.contentListFriend .bloc {
  width: 45%;
  margin-bottom: 50px;
  display: flex;
  border-radius: 10px;
}

.contentListFriend .bloc img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid white;
}

.conteUnfollow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contentListFriend .bloc h4 {
  margin-top: 10px;
  text-transform: capitalize;
  text-align: center;
}

.unfollowBtn {
  background: var(--primary-bg);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.follow {
  background: var(--second-blue);
}

.unfollowBtn i {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .body2 {
    padding: 20px 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .body2 {
    padding: 20px 10%;
  }
}

@media screen and (max-width: 767px) {
  .body2 {
    padding: 0px 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 525px) {
  .body2 {
    padding: 0px 20px;
    padding-bottom: 20px;
  }

  .contentListFriend .bloc {
    width: 100%;
  }
}

.friendiFololow {
  width: 100%;
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.default {
  background: var(--secondary-bg);
}

.active {
  background: var(--second-blue);
}