#section-comment{
  /* padding-top: 130px; */
  position: relative;
  top: 130px;
    display: flex;
    padding: 10px 20px;
 }
 .middle  {
  border-top: solid 0.01rem #515151;
  border-radius: 10px;
  background-color: var(--secondary-bg);
}

.section-comment .middle  .profile {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-bg);
  border-top: solid 0.01rem #515151;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-comment .middle .profile .left-side,
.section-comment .middle .profile .right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  gap: 5px;
}

@media screen and(max-width:768px) {
  .menu-left {
    width: 50%;
  }
}