.section-comment {
  margin-top: 130px;
  display: flex;
  padding: 10px 20px;
}

.middle {
  border-top: solid 0.01rem #515151;
  border-radius: 10px;
  height: fit-content;
  background-color: var(--secondary-bg);
}

.section-comment .middle .profileuser {
  width: 100%;
  padding: 10px 0px;
  border-top: solid 0.01rem #515151;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-comment .middle .profileuser .left-side,
.section-comment .middle .profileuser .right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  gap: 5px;
}

.section-comment .middle .profileuser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-comment .middle .profileuser .left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  gap: 0px;
}

.section-comment .middle .profile-pic {
  overflow: hidden;
  padding-top: 10px;
}

.section-comment .middle .profile-pic-simple {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  
}

.section-comment .middle .profile-pic-group {
  padding-bottom: 10px;
}

.section-comment .middle .profileuser .left-side .profile-pic-simple a img {

  width: 100%;
  height: 100%;
}

.section-comment .middle .profileuser .left-side .profile-pic-group a img {
  width: 50px;
  height: 50px;
}

.section-comment .middle .profileuser .left-side .profile-pic-group a:last-of-type {
  position: relative;
  left: -20px;
  bottom: -8px;
  z-index: 99;
}

.section-comment .middle .profileuser .left-side span p {
  font-weight: 100;
}

.section-comment .middle .profileuser .left-side .span-group {
  position: relative;
  left: -10px;
}

.section-comment .middle .profileuser .left-side .span-group h3:first-of-type {
  margin-bottom: 5px;
}

.section-comment .middle .profileuser .left-side .span-simple {
  position: relative;
  left: 10px;
}

.section-comment .middle .profileuser .left-side .profile-pic-group a:first-of-type img:first-of-type {
  border-radius: 20%;
  border: 1px solid;
  object-fit: cover;
}

.section-comment .middle .profileuser .left-side .profile-pic-group a:last-of-type img:last-of-type {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

@media screen and(max-width:768px) {
  .menu-left {
    width: 50%;
  }
}