body {
    overflow-y: hidden;
}

.section-chat-page {
    display: flex;
    margin-top: 120px;
}

.fa-arrow-left {
    font-size: 30px;
}

.fa-check-double {
    margin-left: 5px;
    color: gold;
}

.fa-paper-plane {
    font-size: 25px;
}

@media screen and (max-width: 767px) {
    body {
        overflow-y: scroll;
    }
}

.emptyDisc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5%;
    text-align: center;
    color: gray;
  }
  
  .emptyDisc svg {
    width: 100px;
    height: 100px;
  }