body{overflow-y: scroll;}
.section-user-profile{
  width: 100%;
  margin-top: 100px;
}

.post{
  padding-bottom: 10px;
  border-radius: 10px;
  background: var(--secondary-bg);
}

.inputAlt{
  color: red;
}
@media screen and (max-width:768px) {
  .section-user-profile{
    margin-top: 118px;
  }
}

